<!--Opening the ejs tags for including header file-->
<%- include("./partials/header") %>
<div class="jumbotron">
    <p>Error: Please check the details again</p>
    <p><a href="http://172.26.86.137:8083/login">Redirect to login form</p>
  </div>