<!--Opening the ejs tags for including header file-->
<%- include("./partials/header") %>
<div class="jumbotron">
    <p>You have successfully logged in to the Auto assigner</p>
    <p><a href="http://localhost:8082/login">Redirect to login form</p>
  </div>